#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100
#define MOUSE 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos { compatible = "zmk,combos"; };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        scroll_up_down: behavior_sensor_rotate_mouse_wheel_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;

            tap-ms = <20>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none>;
            label = "TO_LAYER_0";
        };

        bt_win: bt_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0>, <&macro_wait_time 200>, <&to 0>;

            label = "BT_WIN";
        };

        bt_pad: bt_pad {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 1>, <&macro_wait_time 200>, <&to 1>;

            label = "BT_PAD";
        };

        pad_fullscreen: pad_fullscreen {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp CLCK &kp F>;
            label = "PAD_FULLSCREEN";
        };

        pad_split_L: pad_split_L {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(CLCK) &kp LEFT_ARROW>;
            label = "PAD_SPLIT_L";
        };

        pad_split_R: pad_split_R {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(CLCK) &kp RIGHT>;
            label = "PAD_SPLIT_R";
        };

        pad_split_change: pad_split_change {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(CLCK) &kp DOWN_ARROW>;
            label = "PAD_SPLIT_CHANGE";
        };

        pad_slideover: pad_slideover {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp CLCK &kp BACKSLASH>;
            label = "PAD_SLIDEOVER";
        };

        pad_slideover_L: pad_slideover_L {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(CLCK) &kp LEFT_ARROW>;
            label = "PAD_SLIDEOVER_L";
        };

        pad_slideover_R: pad_slideover_R {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(CLCK) &kp RIGHT>;
            label = "PAD_SLIDEOVER_R";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        win_0 {
            bindings = <
&kp Q         &kp W         &kp E             &kp R                 &kp T                                       &kp Y        &kp U  &kp I      &kp O    &kp P
&kp A         &kp S         &kp D             &kp F                 &kp G        &trans          &trans         &kp H        &kp J  &kp K      &kp L    &kp MINUS
&kp Z         &kp X         &kp C             &kp V                 &kp B        &kp LC(N0)      &trans         &kp N        &kp M  &kp COMMA  &kp DOT  &kp SLASH
&kp LEFT_ALT  &kp LEFT_GUI  &kp LEFT_CONTROL  &mt LEFT_SHIFT LANG2  &lt 4 SPACE  &lt 11 LANG1    &kp BACKSPACE  &lt 5 ENTER                             &kp RIGHT_SHIFT
            >;

            sensor-bindings = <&inc_dec_kp LC(PLUS) LC(MINUS)>;
        };

        iPad_0 {
            bindings = <
&kp Q             &kp W         &kp E             &kp R                 &kp T                                       &kp Y        &kp U  &kp I      &kp O    &kp P
&kp A             &kp S         &kp D             &kp F                 &kp G        &trans          &trans         &kp H        &kp J  &kp K      &kp L    &kp MINUS
&kp Z             &kp X         &kp C             &kp V                 &kp B        &tog 8          &trans         &kp N        &kp M  &kp COMMA  &kp DOT  &kp SLASH
&kp LEFT_CONTROL  &kp LEFT_ALT  &kp LEFT_COMMAND  &mt LEFT_SHIFT LANG2  &lt 6 SPACE  &lt 11 LANG1    &kp BACKSPACE  &lt 7 ENTER                             &kp RIGHT_SHIFT
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        mac_0 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                          &trans
            >;
        };

        AML {
            bindings = <
&trans          &trans  &trans  &trans  &trans                           &trans     &mkp MB4        &mkp MB3        &mkp MB5         &trans
&trans          &trans  &trans  &trans  &trans  &trans    &trans         &trans     &mkp MB1        &kp UP_ARROW    &mkp MB2         &trans
&trans          &trans  &trans  &trans  &trans  &trans    &trans         &trans     &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans
&kp LEFT_SHIFT  &trans  &trans  &trans  &trans  &trans    &kp BACKSPACE  &kp ENTER                                                   &trans
            >;
        };

        win_1 {
            bindings = <
&kp ESCAPE        &kp F2             &kp LG(LEFT_ARROW)  &kp LG(RIGHT)  &kp LS(NUMBER_1)                     &trans                   &trans          &trans          &trans           &trans
&kp TAB           &kp LS(N7)         &kp LS(N2)          &kp LS(N9)     &kp LS(N0)        &trans    &trans   &kp LS(LG(RIGHT_ARROW))  &mkp MB1        &kp UP_ARROW    &mkp MB2         &kp LG(UP_ARROW)
&kp LS(NUMBER_4)  &kp LS(BACKSLASH)  &kp LG(PERIOD)      &kp LS(N5)     &kp LS(N3)        &trans    &trans   &kp TILDE                &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp LS(APOS)
&kp LEFT_SHIFT    &trans             &trans              &trans         &trans            &trans    &kp DEL  &trans                                                                    &kp APOS
            >;
        };

        win_2 {
            bindings = <
&kp MINUS             &kp N7  &kp N8     &kp N9        &kp PLUS                                       &kp LA(F4)              &trans               &kp LG(TAB)  &kp LG(D)        &kp PRINTSCREEN
&kp SLASH             &kp N4  &kp N5     &kp N6        &kp ASTERISK      &trans               &trans  &kp LG(LC(LEFT_ARROW))  &kp LS(TAB)          &kp COLON    &kp TAB          &kp LG(LC(RIGHT_ARROW))
&mt LEFT_SHIFT UNDER  &kp N1  &kp N2     &kp N3        &kp EQUAL         &kp C_MUTE           &trans  &kp LA(LEFT_ARROW)      &kp LA(RIGHT_ARROW)  &kp LC(W)    &kp LC(LS(TAB))  &kp LC(TAB)
&kp LEFT_SHIFT        &kp N0  &kp UNDER  &kp LEFT_ALT  &kp LEFT_BRACKET  &kp RIGHT_BRACKET    &trans  &trans                                                                     &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        iPad_1 {
            bindings = <
&kp ESCAPE        &kp F2             &pad_split_L       &pad_split_R  &kp LS(NUMBER_1)                     &trans     &pad_slideover_L  &pad_split_change  &pad_slideover_R  &pad_slideover
&kp TAB           &kp LS(N7)         &kp LS(N2)         &kp LS(N9)    &kp LS(N0)        &trans    &trans   &trans     &mkp MB1          &kp UP_ARROW       &mkp MB2          &pad_fullscreen
&kp LS(NUMBER_4)  &kp LS(BACKSLASH)  &kp LG(LC(SPACE))  &kp LS(N5)    &kp LS(N3)        &trans    &trans   &kp TILDE  &kp LEFT_ARROW    &kp DOWN_ARROW     &kp RIGHT_ARROW   &kp LS(APOS)
&kp LEFT_SHIFT    &trans             &trans             &trans        &trans            &trans    &kp DEL  &trans                                                            &kp APOS
            >;
        };

        iPad_2 {
            bindings = <
&kp MINUS             &kp N7  &kp N8     &kp N9            &kp PLUS                                       &trans              &trans               &kp LC(UP_ARROW)  &kp LG(H)        &kp LG(LS(NUMBER_3))
&kp SLASH             &kp N4  &kp N5     &kp N6            &kp ASTERISK      &trans               &trans  &kp LG(LEFT_ARROW)  &kp LS(TAB)          &kp COLON         &kp TAB          &kp LG(RIGHT_ARROW)
&mt LEFT_SHIFT UNDER  &kp N1  &kp N2     &kp N3            &kp EQUAL         &kp C_MUTE           &trans  &kp LG(LEFT_ARROW)  &kp LG(RIGHT_ARROW)  &kp LG(W)         &kp LC(LS(TAB))  &kp LC(TAB)
&kp LEFT_SHIFT        &kp N0  &kp UNDER  &kp LEFT_COMMAND  &kp LEFT_BRACKET  &kp RIGHT_BRACKET    &trans  &trans                                                                      &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        left_mode {
            bindings = <
&kp LS(LG(BACKSLASH))  &kp LG(C)   &kp LG(NUMBER_4)  &kp LG(NUMBER_1)  &kp LG(LA(P))                           &trans  &trans  &trans  &trans  &trans
&kp LA(LG(S))          &kp LG(N7)  &kp LG(NUMBER_2)  &kp LG(NUMBER_6)  &kp LA(LG(H))  &trans           &trans  &trans  &trans  &trans  &trans  &trans
&kp M                  &kp T       &kp LG(NUMBER_3)  &kp L             &kp LG(A)      &tog 8           &trans  &trans  &trans  &trans  &trans  &trans
&trans                 &trans      &kp LG(N5)        &kp DEL           &kp LG(Z)      &kp LS(LG(Z))    &trans  &trans                          &trans
            >;
        };

        mac_1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                          &trans
            >;
        };

        mac_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                          &trans
            >;
        };

        setting {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &bt_win       &bt_pad       &trans        &trans        &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans        &trans        &trans        &trans        &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                                                  &bt BT_CLR_ALL
            >;
        };
    };
};
