#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100
#define MOUSE 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos { compatible = "zmk,combos"; };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        scroll_up_down: behavior_sensor_rotate_mouse_wheel_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;

            tap-ms = <20>;
        };
    };

    macros {
        bt_win: bt_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0>, <&macro_wait_time 200>, <&to 1>;

            label = "BT_WIN";
        };

        bt_pad: bt_pad {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 1>, <&macro_wait_time 200>, <&to 4>;

            label = "BT_PAD";
        };

        bt_macbook: bt_mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 2>, <&macro_wait_time 200>, <&to 0>;

            label = "BT_MAC";
        };

        to_layer_0: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 1>;
            label = "NEW_MACRO";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Mac_Base {
            bindings = <
&kp Q             &kp W         &kp E             &kp R                 &kp T                                       &kp Y        &kp U  &kp I      &kp O    &kp P
&kp A             &kp S         &kp D             &kp F                 &kp G        &trans          &kp MINUS      &kp H        &kp J  &kp K      &kp L    &kp RSHIFT
&kp Z             &kp X         &kp C             &kp V                 &kp B        &trans          &kp UNDER      &kp N        &kp M  &kp COMMA  &kp DOT  &kp SLASH
&kp LEFT_CONTROL  &kp LEFT_ALT  &kp LEFT_COMMAND  &mt LEFT_SHIFT LANG2  &lt 8 LANG1  &lt 10 SPACE    &kp BACKSPACE  &lt 9 ENTER                             &kp ESC
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        win_0 {
            bindings = <
&kp Q         &kp W         &kp E             &kp R                 &kp T                                       &kp Y        &kp U  &kp I      &kp O    &kp P
&kp A         &kp S         &kp D             &kp F                 &kp G        &trans          &trans         &kp H        &kp J  &kp K      &kp L    &kp MINUS
&kp Z         &kp X         &kp C             &kp V                 &kp B        &kp LC(N0)      &trans         &kp N        &kp M  &kp COMMA  &kp DOT  &kp SLASH
&kp LEFT_ALT  &kp LEFT_GUI  &kp LEFT_CONTROL  &mt LEFT_SHIFT LANG2  &lt 2 SPACE  &lt 10 LANG1    &kp BACKSPACE  &lt 3 ENTER                             &kp RIGHT_SHIFT
            >;

            sensor-bindings = <&inc_dec_kp LC(PLUS) LC(MINUS)>;
        };

        win_1 {
            bindings = <
&kp ESCAPE        &kp LG(LEFT_ARROW)  &kp LG(DOWN_ARROW)  &kp LG(RIGHT)  &kp LS(NUMBER_1)                     &trans                   &trans          &trans          &trans           &trans
&kp TAB           &kp LS(N7)          &kp LS(N2)          &kp LS(N9)     &kp LS(N0)        &trans    &trans   &kp LS(LG(RIGHT_ARROW))  &mkp MB1        &kp UP_ARROW    &mkp MB2         &kp LG(UP_ARROW)
&kp LS(NUMBER_4)  &kp LS(BACKSLASH)   &kp LG(PERIOD)      &kp LS(N5)     &kp LS(N3)        &trans    &trans   &kp TILDE                &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp LS(APOS)
&kp LEFT_SHIFT    &trans              &trans              &trans         &trans            &trans    &kp DEL  &trans                                                                    &kp APOS
            >;

            sensor-bindings = <&inc_dec_kp C_BRIGHTNESS_INC C_BRIGHTNESS_DEC>;
        };

        win_2 {
            bindings = <
&kp MINUS             &kp N7  &kp N8     &kp N9  &kp PLUS                            &kp F2                  &kp LA(F4)           &kp LG(TAB)  &kp LG(D)        &kp PRINTSCREEN
&kp SLASH             &kp N4  &kp N5     &kp N6  &kp ASTERISK  &trans        &trans  &kp LG(LC(LEFT_ARROW))  &mkp MB1             &kp COLON    &mkp MB2         &kp LG(LC(RIGHT_ARROW))
&mt LEFT_SHIFT UNDER  &kp N1  &kp N2     &kp N3  &kp EQUAL     &kp C_MUTE    &trans  &kp LA(LEFT_ARROW)      &kp LA(RIGHT_ARROW)  &kp LC(W)    &kp LC(LS(TAB))  &kp LC(TAB)
&kp LEFT_SHIFT        &kp N0  &kp UNDER  &trans  &trans        &trans        &trans  &trans                                                                     &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        iPad_0 {
            bindings = <
&kp Q             &kp W         &kp E             &kp R                 &kp T                                       &kp Y        &kp U  &kp I      &kp O    &kp P
&kp A             &kp S         &kp D             &kp F                 &kp G        &trans          &trans         &kp H        &kp J  &kp K      &kp L    &kp MINUS
&kp Z             &kp X         &kp C             &kp V                 &kp B        &tog 7          &trans         &kp N        &kp M  &kp COMMA  &kp DOT  &kp SLASH
&kp LEFT_CONTROL  &kp LEFT_ALT  &kp LEFT_COMMAND  &mt LEFT_SHIFT LANG2  &lt 5 SPACE  &lt 10 LANG1    &kp BACKSPACE  &lt 6 ENTER                             &kp RIGHT_SHIFT
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        iPad_1 {
            bindings = <
&kp ESCAPE        &kp LEFT_ARROW     &kp DOWN_ARROW     &kp RIGHT_ARROW  &kp LS(NUMBER_1)                              &trans     &mkp MB4        &trans          &mkp MB5         &trans
&kp TAB           &kp LS(N7)         &kp LS(N2)         &kp LS(N9)       &kp LS(N0)        &trans    &kp LEFT_CONTROL  &trans     &mkp MB1        &kp UP_ARROW    &mkp MB2         &kp F
&kp LS(NUMBER_4)  &kp LS(BACKSLASH)  &kp LG(LC(SPACE))  &kp LS(N5)       &kp LS(N3)        &trans    &trans            &kp TILDE  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp LS(APOS)
&kp LEFT_SHIFT    &trans             &trans             &trans           &trans            &trans    &kp DEL           &kp CLCK                                                    &kp APOS
            >;

            sensor-bindings = <&inc_dec_kp C_BRIGHTNESS_INC C_BRIGHTNESS_DEC>;
        };

        iPad_2 {
            bindings = <
&kp MINUS             &kp N7  &kp N8     &kp N9            &kp PLUS                                   &kp F2              &mkp MB3             &kp UP_ARROW  &kp LG(H)        &kp LG(LS(NUMBER_3))
&kp SLASH             &kp N4  &kp N5     &kp N6            &kp ASTERISK  &trans        &kp BACKSLASH  &kp LEFT_ARROW      &mkp MB1             &kp COLON     &mkp MB2         &kp RIGHT_ARROW
&mt LEFT_SHIFT UNDER  &kp N1  &kp N2     &kp N3            &kp EQUAL     &kp C_MUTE    &trans         &kp LG(LEFT_ARROW)  &kp LG(RIGHT_ARROW)  &kp LG(W)     &kp LC(LS(TAB))  &kp LC(TAB)
&kp LEFT_ALT          &kp N0  &kp UNDER  &kp LEFT_COMMAND  &kp CLCK      &trans        &trans         &trans                                                                  &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        left_mode {
            bindings = <
&kp LS(LG(BACKSLASH))  &kp LG(C)   &kp LG(NUMBER_4)  &kp LG(NUMBER_1)  &kp LG(LA(P))                           &trans  &trans  &trans  &trans  &trans
&kp LA(LG(S))          &kp LG(N7)  &kp LG(NUMBER_2)  &kp LG(NUMBER_6)  &kp LA(LG(H))  &trans           &trans  &trans  &trans  &trans  &trans  &trans
&kp M                  &kp T       &kp LG(NUMBER_3)  &kp L             &kp LG(A)      &tog 7           &trans  &trans  &trans  &trans  &trans  &trans
&trans                 &trans      &kp LG(N5)        &kp DEL           &kp LG(Z)      &kp LS(LG(Z))    &trans  &trans                          &trans
            >;
        };

        Mac_1 {
            bindings = <
&kp ESCAPE        &kp LC(LA(LEFT_ARROW))  &kp LC(LA(C))      &kp LA(LC(RIGHT_ARROW))  &kp LS(NUMBER_1)                              &kp LC(LA(D))  &kp LC(LA(E))   &kp LC(LA(F))   &kp LA(LC(T))    &kp LA(LC(G))
&kp TAB           &kp LS(N7)              &kp LS(N2)         &kp LS(N9)               &kp LS(N0)        &trans    &kp LEFT_CONTROL  &kp F19        &mkp MB1        &kp UP_ARROW    &mkp MB2         &kp LA(LC(ENTER))
&kp LS(NUMBER_4)  &kp LS(BACKSLASH)       &kp LG(LC(SPACE))  &kp LS(N5)               &kp LS(N3)        &trans    &trans            &kp TILDE      &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp LS(APOS)
&kp LEFT_SHIFT    &trans                  &trans             &trans                   &trans            &trans    &kp DEL           &kp CLCK                                                        &kp APOS
            >;

            sensor-bindings = <&inc_dec_kp C_BRIGHTNESS_INC C_BRIGHTNESS_DEC>;
        };

        Mac_2 {
            bindings = <
&kp MINUS             &kp N7  &kp N8     &kp N9            &kp PLUS                                   &kp F2              &mkp MB3             &kp LC(UP_ARROW)    &kp F11          &kp LG(LS(NUMBER_4))
&kp SLASH             &kp N4  &kp N5     &kp N6            &kp ASTERISK  &trans        &kp BACKSLASH  &kp LC(LEFT_ARROW)  &mkp MB1             &kp COLON           &mkp MB2         &kp LC(RIGHT_ARROW)
&mt LEFT_SHIFT UNDER  &kp N1  &kp N2     &kp N3            &kp EQUAL     &kp C_MUTE    &trans         &kp LG(LEFT_ARROW)  &kp LG(RIGHT_ARROW)  &kp LC(DOWN_ARROW)  &kp LC(LS(TAB))  &kp LC(TAB)
&kp LEFT_ALT          &kp N0  &kp UNDER  &kp LEFT_COMMAND  &kp CLCK      &trans        &trans         &trans                                                                        &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        setting {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &bt_win       &bt_pad       &bt_macbook   &trans        &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans        &trans        &trans        &trans        &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                                                  &bt BT_CLR_ALL
            >;
        };
    };
};
